@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");

.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 100px;
}

.nav-items>ul{
    display: flex;
    list-style-type: none;
    font-size: 13px;
    
}

.nav-items>ul>li{
    padding: 10px;
    

}

.res-card{
    width: 200px;
    height: 200px;
    border:1px solid black;
    font-size: 13px;

}

.res-container{
    display: flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    width: 100%;
}

/* card css */

.card {
    width: 190px;
    background: white;
    padding: .4em;
    border-radius: 6px;
  }

  .card:hover{
    cursor: pointer;
    transform: scale(0.98);
  }
  
  .card-image {
    background-color: rgb(201, 194, 194);
    width: 100px;
    height: 130px;
    border-radius: 6px 6px 0 0;
  }

  .cardimg{
    width: 180px;
  }
  
 
  
  .category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
  }
  
  .category:hover {
    cursor: pointer;
  }
  
  .heading {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 45px;
    text-align: left;
    background-color: rgb(240, 230, 230);
    width: 90px;
    height: 70px;

  }
  
  .heading:hover {
    cursor: pointer;
  }
  
  .author {
    color: rgb(71, 67, 67);
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
  }
  
  .name {
    font-weight: 600;
  }
  
  .name:hover {
    cursor: pointer;
  }

  /* card css ends */

  /*new card css*/
  

body {
   font-family: "Montserrat", sans-serif;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 50px 0 50px 0;
}

.art-board {
   border-radius: 40px;
   border: 6px solid black;
   box-shadow: -30px 70px 150px -20px rgba(51, 51, 51, 0.25);
}

.art-board__container {
   margin: 18px 0 18px 0;
   width: 375px;
   height: 812px;
   overflow: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.card {
   width: 295px;
   overflow: hidden;
   border-radius: 25px;
   border: 1px solid lavender;
   margin: 10px;
   box-shadow: 5px 5px 15px 5px rgba(230, 230, 250, 1);
}

.card__image {
   position: relative;
   height: 140px;
}
.card__image > img {
   max-width: 100%;
   border-bottom-right-radius: 30px;
   transform: rotate(10deg) translate(-15px, -55px);
   position: absolute;
   height: 200px;
   object-fit: cover;
   object-position: center;
}

.card__info {
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   padding: 0px 30px 20px 30px;
}
.card__info h3 {
   font-size: 18px;
   font-weight: 700;
}
.card__info p {
   font-size: 14px;
   font-weight: 600;
}
.card__info--price {
   text-align: right;
   color: orangered;
}

.checked {
   color: #ffd700;
}

::-webkit-scrollbar {
   width: 8px;
}

::-webkit-scrollbar-thumb {
   background: #cccccc;
   border-radius: 10px;
}

::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
}

/* filter  button css*/
.yoo {
 background-color: #eee;
 border: none;
 padding: 1rem;
 font-size: 1rem;
 width: 10em;
 border-radius: 1rem;
 color: black;
 box-shadow: 0 0.4rem #dfd9d9;
 cursor: pointer;
 font-family: "Montserrat", sans-serif;
 margin: 15px;

}

.yoo:active {
 color: white;
 box-shadow: 0 0.2rem #dfd9d9;
 transform: translateY(0.2rem);
}

.yoo:hover:not(:disabled) {
 background: rgb(248, 109, 29);
 color: white;
 text-shadow: 0 0.1rem #bcb4b4;
}

.yoo:disabled {
 cursor: auto;
 color: grey;
}
/*login button*/
.cssbuttons-io-button {
   background:rgb(248, 109, 29) ;
   color: white;
   margin-top: 0px;
   font-family: inherit;
   padding: 0.35em;
   padding-left: 1.2em;
   font-size: 17px;
   font-weight: 500;
   border-radius: 0.9em;
   border: none;
   letter-spacing: 0.05em;
   display: flex;
   align-items: center;
   box-shadow: inset 0 0 1.6em -0.6em rgb(248, 109, 29);
   overflow: hidden;
   position: relative;
   height: 2.8em;
   padding-right: 3.3em;
 }
 
 .cssbuttons-io-button .icon {
   background: white;
   margin-left: 1em;
  
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 2.2em;
   width: 2.2em;
   border-radius: 0.7em;
   box-shadow: 0.1em 0.1em 0.6em 0.2em rgb(248, 109, 29);
   right: 0.3em;
   transition: all 0.3s;
 }
 
 .cssbuttons-io-button:hover .icon {
   width: calc(100% - 0.6em);
 }
 
 .cssbuttons-io-button .icon svg {
   width: 1.1em;
   transition: transform 0.3s;
   color: rgb(248, 109, 29);
 }
 
 .cssbuttons-io-button:hover .icon svg {
   transform: translateX(0.1em);
 }
 
 .cssbuttons-io-button:active .icon {
   transform: scale(0.95);
 }
 
 .user-card{
  padding: 10px;
  border: 1px solid black;
 }