@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-bg-color: rgb(255, 255, 255);
  --footer-bg-color: rgb(255, 255, 255);
  --body-bg-color: #e3e3e3;
  --input-bg: #f2f2f2;
  --input-bg-focus: #dbdbdb;
  --text-color: #000;
  --light-text-color: #545454;
  --light-text-title: #353535;
  --light-green: #00ad1d;
  --dark-green: #016034;
  --orange: #d97919;
  --light-orange: #ffaf60;
  --dark-orange: #c26100;
  --x-dark-orange: rgb(157, 42, 1);
  --light-red: rgb(236, 56, 56);
  --white: #fff;
  --light-white-text: #eaeaea;
  --light-black: rgb(23, 23, 23);
  --light-blue: #0463ac;
  --dark-blue: #070062;
}
a {
  text-decoration: none;
  color: inherit;
}

/* .header{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 100px;
}

.nav-items>ul{
    display: flex;
    list-style-type: none;
    font-size: 13px;
    
}

.nav-items>ul>li{
    padding: 10px;
    

}

.res-card{
    width: 200px;
    height: 200px;
    border:1px solid black;
    font-size: 13px;

}

.res-container{
    display: flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    width: 100%;
}

/* card css */

/* .card {
    width: 190px;
    background: white;
    padding: .4em;
    border-radius: 6px;
  }

  .card:hover{
    cursor: pointer;
    transform: scale(0.98);
  }
  
  .card-image {
    background-color: rgb(201, 194, 194);
    width: 100px;
    height: 130px;
    border-radius: 6px 6px 0 0;
  }

  .cardimg{
    width: 180px;
  }
  
 
  
  .category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
  }
  
  .category:hover {
    cursor: pointer;
  }
  
  .heading {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 45px;
    text-align: left;
    background-color: rgb(240, 230, 230);
    width: 90px;
    height: 70px;

  }
  
  .heading:hover {
    cursor: pointer;
  }
  
  .author {
    color: rgb(71, 67, 67);
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
  }
  
  .name {
    font-weight: 600; */
  /* }
  
  .name:hover {
    cursor: pointer;
  } */

  /* card css ends */

  /*new card css*/
  

/* body {
   font-family: "Montserrat", sans-serif;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 50px 0 50px 0;
}

.art-board {
   border-radius: 40px;
   border: 6px solid black;
   box-shadow: -30px 70px 150px -20px rgba(51, 51, 51, 0.25);
}

.art-board__container {
   margin: 18px 0 18px 0;
   width: 375px;
   height: 812px;
   overflow: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.card {
   width: 295px;
   overflow: hidden;
   border-radius: 25px;
   border: 1px solid lavender;
   margin: 10px;
   box-shadow: 5px 5px 15px 5px rgba(230, 230, 250, 1);
}

.card__image {
   position: relative;
   height: 140px;
}
.card__image > img {
   max-width: 100%;
   border-bottom-right-radius: 30px;
   transform: rotate(10deg) translate(-15px, -55px);
   position: absolute;
   height: 200px;
   object-fit: cover;
   object-position: center;
}

.card__info {
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   padding: 0px 30px 20px 30px;
}
.card__info h3 {
   font-size: 18px;
   font-weight: 700;
}
.card__info p {
   font-size: 14px;
   font-weight: 600;
}
.card__info--price {
   text-align: right;
   color: orangered;
}

.checked {
   color: #ffd700;
}

::-webkit-scrollbar {
   width: 8px;
}

::-webkit-scrollbar-thumb {
   background: #cccccc;
   border-radius: 10px;
}

::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
} */

/* filter  button css*/
/* .yoo {
 background-color: #eee;
 border: none;
 padding: 1rem;
 font-size: 1rem;
 width: 10em;
 border-radius: 1rem;
 color: black;
 box-shadow: 0 0.4rem #dfd9d9;
 cursor: pointer;
 font-family: "Montserrat", sans-serif;
 margin: 15px;

}

.yoo:active {
 color: white;
 box-shadow: 0 0.2rem #dfd9d9;
 transform: translateY(0.2rem);
}

.yoo:hover:not(:disabled) {
 background: rgb(248, 109, 29);
 color: white;
 text-shadow: 0 0.1rem #bcb4b4;
}

.yoo:disabled {
 cursor: auto;
 color: grey;
}
/*login button*/
::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: PT Sans, "Calibri", sans-serif;
  overflow-x: hidden;
  
  font-size: 15px;
}
.lol{
  text-align: center;
  align-items: center;
}



/* .card {
  width: 240px;
  border-radius: 5px;
  box-shadow: -1px 5px 10px 5px rgba(112, 112, 112, 0.2);
  padding: 10px;
  padding-left: 30px;
  cursor: pointer;
  font-size: 10px;
  height: min-content;

}

.card:hover {
  transform: scale(1.03);
}

.card h3 {
  color: var(--light-text-title);
}

.card > img {
  width: 100%;
  border-radius: 10px;
  
}

.card > h5 {
  font-weight: lighter;
}

.card > span {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  text-align: center;
}

.card > span > h4 {
  font-weight: bolder;
  font-size: 14px;
  padding: 0 2px 0;
  margin-top: 10px;
  color: var(--light-text-title);
}

.card > span > h4:first-child {
  display: flex;
  align-items: center;
  background-color: var(--light-green);
  border-radius: 5px;
  color: black;
  padding: 5px;
  margin-top: 5px;
}

.card > span > h4:first-child .fa-star {
  font-size: 10px;
  padding: 2px 5px 3px 0;
} */






.contact-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 60px auto 20px;
  overflow-y: hidden;
  height: 76vh;
}

.contact-container .contact-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container .contact-left img {
  width: 300px;
}

.contact-container .contact-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.contact-container .contact-right h1 {
  color: var(--light-text-title);
}

.contact-container .contact-right form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-container .contact-right form input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid var(--dark-orange);
  min-width: 40vw;
}

.contact-container .contact-right form textarea {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid var(--dark-orange);
  min-width: 40vw;
}

.contact-container .contact-right form input:focus,
.contact-container .contact-right form textarea:focus {
  outline: 1px outset var(--orange);
}

.contact-container .contact-right form button {
  padding: 10px 20px;
  margin: 10px;
  background-color: var(--dark-orange);
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: #ffffff;
  font-size: large;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.contact-container .contact-right form button:hover {
  background-color: var(--orange);
}




.list {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}

.card {
  width: 240px;
  border-radius: 5px;
  box-shadow: -1px 5px 10px 5px rgba(112, 112, 112, 0.2);
  padding: 10px;
  margin: 20px;
  cursor: pointer;
  font-size: 10px;
   font-family:" PT Sans";
}

.card:hover {
  transform: scale(1.03);
}

.card h3 {
  color: var(--light-text-title);
  font-size: 12px;
  font-weight: 700;
}

.card > img {
  width: 100%;
  border-radius: 10px;
}

.card > h5 {
  font-weight: lighter;
}

.card > span {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  text-align: center;
}

.card > span > h4 {
  font-weight: bolder;
  font-size: 14px;
  padding: 0 2px 0;
  margin-top: 10px;
  color: var(--light-text-title);
}

.card > span > h4:first-child {
  display: flex;
  align-items: center;
  background-color: var(--light-green);
  border-radius: 5px;
  color: white;
  padding: 5px;
  margin-top: 5px;
}

.card > span > h4:first-child .fa-star {
  font-size: 10px;
  padding: 2px 5px 3px 0;
}



.about-container-main {
  min-height: 87vh;
}

.about-profile-container {
  margin: 100px auto 0px;
  text-align: center;
}

.about-profile-button {
  background-color: var(--orange);
  color: var(--light-white-text);
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

.about-profile-button:hover {
  background-color: var(--dark-orange);
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 25px 10px;
  justify-content: space-evenly;
  align-items: center;
}

.about-container .about-left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  overflow-y: hidden;
}

.about-container .about-left h1 {
  font-size: 70px;
  color: var(--light-text-color);
}

.about-container .about-left h1 span {

  padding: 0 10px;
  border-radius: 15px;
  color: var(--light-white-text);
}

.about-container .about-left h4 {
  font-size: 25px;
  margin-top: 10px;
  font-style: italic;
  color: var(--light-text-color);
}

.about-container .about-left h4 span {
  color: var(--dark-orange);
}

.about-container .about-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.about-container .about-right img {
  width: 300px;
  height: 300px;
}


.btn {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #ffffff;
  margin-bottom: 10px;
 }
 
 .btn:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
              inset -4px -4px 12px #ffffff;
 }


 .shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin: 60px;
}

.shimmer-card {
  flex-basis: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}

.shimmer-title {
  width: 60%;
  margin-top: 10px;
}

.shimmer-tags {
  width: 80%;
  margin-top: 4px;
}

.shimmer-details {
  width: 100%;
  margin-top: 18px;
}

.shimmer-container .shimmer-img {
  height: 144px;
  width: 230px;
}

.stroke {
  height: 15px;
  background: #777;
}

.stroke-color {
  background: #777;
}

.animate {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
}
.gg:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em #6ac024;
}


.gg:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em #6ac024;
}